* {
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: 'Rubik', sans-serif;

}

body {
  /* height: 100vh; */
}

#root {
  position: fixed;
  height: 100%;
  width: 100%;

}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');